/* Empty. Add your own CSS if you like */
.program-thumbnail-image {
    width:60px;
    height: auto;
    display:inline;
    float:left;
}
.home-normal-image{
    width: 50%;
    height: auto;
    display:inline;
    float:left;
}
.company-header{
    display:inline;
    float:left;
}